.wrapper {   
    min-height: 100%; 
    background-color: rgb(212, 211, 211);
    padding-top: 70px;
    padding-bottom: 70px;
    }

.content {
    display: flex;
    justify-content: space-evenly;
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-size: 24px;
    }

.col {
    margin: 50px;
    padding: 15px;
    width: 40%;
    }

.rcol {
    /*background-color: aliceblue;*/
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 200px;
}

.lcol {
    background: rgb(157,157,157);
    background: linear-gradient(90deg, rgba(157,157,157,1) 0%, rgba(255,255,255,1) 83%);
}

h2 {
    font-size: 46px;
}

.cont {
    position: relative;
    bottom: -490px;
}

h1 {
    font: 56px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(156,154,154);
    background: linear-gradient(0deg, rgba(156,154,154,1) 0%, rgba(255,255,255,0.8715861344537815) 77%);
    height: 90px;
    }

.foot__el {
    font-size: 26px;
}

a {
    text-decoration: none;
    color: #000000;
}

a > img {
    border-radius: 0;
}
